body{
    width: 100%;
    background-color: rgba(73, 73, 150, 0.933);
    padding: 0%;
    margin: 0%;
}

hr{
    border: none;
    border-top: 0.1rem solid #fff;
}

#app-header{
    width: 100%;
    background-color: #ffdba4;
}

.nav-link{
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: center;
}
.nav-link p{
    margin: 0.5rem;
}
.nav-link p a{
    color: rgb(128, 46, 160);
    text-decoration: none;
    text-shadow: 0 0.2rem 0.5rem #000;
}
.nav-link p a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 0.6s;
}

.container{
    width: 90%;
    margin: 0.5rem auto;
    background-color: rgba(3, 3, 51, 0.933);
    color: #fff;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.2rem;
}
.num-input{
    width: 100%;
    border: none;
    box-sizing: border-box;
    height: 2rem;
    margin: 0.2rem 0;
}

#head-text-calc{
    font-size: 20px;
}
.btn-operator{
    width: 5rem;
    height: 2rem;
    margin: auto 1rem;
}